@import "tailwindcss";

.tab-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color3);
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

.tab-section-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.tab-content {
  width: 33%;
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.tab-content.selected {
  opacity: 1;
  transform: scale(1.1);
}

.tab-content.hidden {
  transform: translateX(-100%);
}

.tab-content.hidden-right {
  transform: translateX(100%);
}
